@charset 'utf-8';

@charset 'utf-8';

#flashMessage {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

#mask {width:100%;position:absolute;top:0;left:0;height:100%;display:none;z-index:9999;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.14) 0%, rgba(0,0,0,0.84) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.14)), color-stop(100%,rgba(0,0,0,0.84)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.14) 0%,rgba(0,0,0,0.84) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.14) 0%,rgba(0,0,0,0.84) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.14) 0%,rgba(0,0,0,0.84) 100%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.14) 0%,rgba(0,0,0,0.84) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24000000', endColorstr='#d6000000',GradientType=1 );
}

.flashMessageModal {background:rgb(0,0,0);padding:1em 3em;position:fixed;display:none;font-size:1.1em;
					top:50px;right:50px;z-index:10000;color:white;}

.flashMessageModal {overflow:scroll;}

.modal-close {float:right;padding:5px;position:absolute;top:2px;right:10px;cursor:pointer;}

.ui-sortable {position:relative;}
.ui-sortable:not(tbody) > *:hover:after {content:'⇣⇡';padding:7px;cursor:move;width:17px;height:17px;
					background:white;border:1px solid rgb(170,170,170);border-right:none;line-height:17px;display:block;
					-webkit-border-top-left-radius: 2px;
					   -moz-border-top-left-radius: 2px;
						 -o-border-top-left-radius: 2px;
						-ms-border-top-left-radius: 2px;
							border-top-left-radius: 2px;
				-webkit-border-bottom-left-radius: 2px;
				   -moz-border-bottom-left-radius: 2px;
					 -o-border-bottom-left-radius: 2px;
					-ms-border-bottom-left-radius: 2px;
						border-bottom-left-radius: 2px;
}
tbody.ui-sortable tr:hover td:first-child {position:relative;}
tbody.ui-sortable tr:hover td:first-child:after {content:'⇣⇡';padding:7px;cursor:move;width:17px;height:17px;
					background:white;border:1px solid rgb(170,170,170);border-right:none;line-height:17px;
					position:absolute;top:-1px;right:100%;
					-webkit-border-top-left-radius: 2px;
					   -moz-border-top-left-radius: 2px;
						 -o-border-top-left-radius: 2px;
						-ms-border-top-left-radius: 2px;
							border-top-left-radius: 2px;
				-webkit-border-bottom-left-radius: 2px;
				   -moz-border-bottom-left-radius: 2px;
					 -o-border-bottom-left-radius: 2px;
					-ms-border-bottom-left-radius: 2px;
						border-bottom-left-radius: 2px;
}
.ui-sortable:not(tbody) > *:hover:after {position:absolute;right:100%;top:0;}

pre {text-align:left!important;padding:30px;font-size:12px;}

*.tosave {
		border:1px solid rgb(50,180,50)!important;
		-webkit-box-shadow: 0 0 5px rgba(50,180,50, 0.6)!important;
		   -moz-box-shadow: 0 0 5px rgba(50,180,50, 0.6)!important;
			 -o-box-shadow: 0 0 5px rgba(50,180,50, 0.6)!important;
			-ms-box-shadow: 0 0 5px rgba(50,180,50, 0.6)!important;
				box-shadow: 0 0 5px rgba(50,180,50, 0.6)!important;
}

.temporary, .temporary * {
	-webkit-animation: justadded .4s ease-in;
	   -moz-animation: justadded .4s ease-in;
		 -o-animation: justadded .4s ease-in;
		-ms-animation: justadded .4s ease-in;
			animation: justadded .4s ease-in;
}

.justadded {
	-webkit-animation: justadded .4s ease-in;
	   -moz-animation: justadded .4s ease-in;
		 -o-animation: justadded .4s ease-in;
		-ms-animation: justadded .4s ease-in;
			animation: justadded .4s ease-in;
}

@-webkit-keyframes justadded {
	0% {-webkit-filter: 	blur(4px);	}
	100% {-webkit-filter: 	blur(0px);}
}
 @-moz-keyframes justadded {
	0% {-moz-filter: 	blur(4px);}
	100% {-moz-filter: 	blur(0px);}
}
@-o-keyframes justadded {
	0% {-o-filter: 		blur(4px);}
	100% {-o-filter: 	blur(0px);}
}
@-ms-keyframes justadded {
	0% {-ms-filter: 	blur(4px);}
	100% {-ms-filter: 	blur(0px);}
}
@keyframes justadded {
	0% { filter: 	blur(4px);}
	100% {filter: 	blur(0px);}
}

